{% extends 'layout.html' %}

{% block main %}
<main class="w-full max-w-100 mx-auto min-h-lsc flex flex-col gap-4">
	<div class="flex items-center gap-3">
		<img src={{url_for('static',filename='img/favicon.svg')}} class="h-8 w-auto" alt="a star vectorized icon" />
		<h1 class="text-lg">Tag Gen</h1>
	</div>

	<div class="flex flex-col gap-4 items-center">
		<img class="pointer-events-none" src="{{url_for('static', filename=tag_path)}}" alt="{{tag_name}}" />
		<a href="{{url_for('static', filename=tag_path)}}" download="{{tag_name}}">
			<button type="button" class="text-lg text-upper px-5 h-12 bg-slate-700 text-white active:bg-slate-300 active:text-slate-800 rounded-md">
				save
			</button>
		</a>
	</div>
</main>
{% endblock %}
